<!DOCTYPE html>
<html>
<head>
	<title>Contact SourceNinja</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>

<body>

	<header id="header">
		<nav class="container">
			<%= link_to "http://www.sourceninja.com" do %>
				<%= image_tag "/logo.png", :id => "logo" %>
			<% end %>
			<% if admin_signed_in? %>
				<ul>
					<li>
						<%= link_to 'Contacts', contacts_path %>
					</li>
					<li>
						<%= link_to 'New Contact', new_contact_path %>
					</li>
					<li>
						<%= link_to "Log out", destroy_admin_session_path, method: :delete %>
					</li>
				</ul>
			<% end %>
		</nav>
	</header>

	<div class="container">

		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>

		<%= yield %>
	</div>

</body>
</html>
